<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .logout-button {
            color: red;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/gestion}">HappyPaws</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/gestion/productos}">Productos</a>
                <a class="nav-link active" aria-current="page" th:href="@{/gestion/servicios}">Servicios</a>
                <a class="nav-link active" aria-current="page" th:href="@{/gestion/citas}">Citas</a>
            </div>
            <div class="ml-auto">
                <form th:action="@{/gestion/logout}" method="get">
                    <button type="submit" class="logout-button">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>
<br>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <form th:action="@{/gestion/productos/nuevo}" th:object="${producto}" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Producto'"></label>
                    <input type="text" th:field="*{nombre}" class="form-control" pattern="[A-Za-z\s]+" required/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Descripcion'"></label>
                    <input type="text" th:field="*{descripcion}" class="form-control" required/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Precio'"></label>
                    <input type="number" th:field="*{precio}" class="form-control" min="1" required/>
                </div>
                <input type="submit" th:value="${titulo}" class="btn btn-secondary" onclick="return alert('Producto creado exitosamente')" pattern="[A-Za-z\s]+" required/>
            </form>
        </div>
    </div>
</div>

</body>
</html>