<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>


<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <form th:action="@{/mascota}" th:object="${mascota}" onsubmit="return validarCampos(event)" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Nombre'"></label>
                    <input type="text" th:field="*{nombre}" class="form-control" pattern="[A-Za-z\s]+" required/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Raza'"></label>
                    <input type="text" th:field="*{raza}" class="form-control" pattern="[A-Za-z\s]+" required/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Edad'"></label>
                    <input type="number" th:field="*{edad}" class="form-control" min="0" max="100" required/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" th:text="'Especie'"></label>
                    <input type="text" th:field="*{especie}" class="form-control" pattern="[A-Za-z\s]+" required/>
                </div>
                <input type="submit" th:value="${titulo}" class="btn btn-secondary"/>
                <input type="hidden" id="exito" th:value="${exito}"/>
            </form>
        </div>
    </div>
</div>

<script>
    function validarCampos(event) {
        // Obtener todos los campos requeridos del formulario
        const camposRequeridos = document.querySelectorAll('input[required]');

        // Verificar si todos los campos requeridos son válidos
        let todosValidos = true;
        camposRequeridos.forEach(function (campo) {
            if (!campo.validity.valid) {
                todosValidos = false;
            }
        });

        if (!todosValidos) {
            event.preventDefault(); // Detener el envío del formulario si hay campos inválidos
            return false;
        }

        // Mostrar el mensaje de éxito
        alert('Mascota creada exitosamente');
        return true;
    }
</script>


<div id="mensaje">

</div>


<!--<script>
    function mostrarMensaje(event) {
        event.preventDefault();

        var mensaje = document.getElementById("mensaje");
        mensaje.classList.remove("d-none"); // Mostrar la tarjeta de mensaje

        var exito = document.getElementById("exito").value;
        if (exito === "true") {
            // Mostrar mensaje de éxito
            mensaje.innerHTML = '<div class="alert alert-success" role="alert">Se creó la mascota exitosamente.</div>';

            // Redirigir a la otra vista después de 3 segundos (ajusta el tiempo según tus necesidades)
            setTimeout(function() {
                window.location.href = "/listarMascotas";
            }, 3000);
        }
    }
</script>-->

</body>
</html>