<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">HappyPaws</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                <a class="nav-link active" aria-current="page" th:href="@{/register}">Registro</a>
            </div>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light">
                <div class="card-header text-center" th:text="'Registro de Usuarios'"></div>
                <div class="card-body">
                    <form th:action="@{/form}" th:object="${usuario}" method="post">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" th:text="'Nombre'"></label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{nombre}" class="form-control" pattern="[A-Za-z\s]+" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" th:text="'Apellido'"></label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{apellido}" class="form-control" pattern="[A-Za-z\s]+" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" th:text="'Email'"></label>
                            <div class="col-sm-8">
                                <input type="email" th:field="*{email}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" th:text="'Username'"></label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{username}" class="form-control" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" th:text="'Password'"></label>
                            <div class="col-sm-8">
                                <input type="password" th:field="*{password}" class="form-control" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" th:text="'Tipo de documento'"></label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{tipoDocumento}" class="form-control" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" th:text="'Numero de documento'"></label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{numeroDocumento}" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-sm-6">
                                <input type="submit" th:value="${titulo}" class="btn btn-primary btn-block"/>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{idUsuario}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>