<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary">
    <!-- ... Navbar content ... -->
</nav>
<br>
<div class="container">
    <h1 class="text-primary" th:text="${titulo}"></h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Raza</th>
            <th>Especie</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mascota: ${mascotas}" th:attr="data-id=${mascota.id}" onclick="editarMascota(this)">
            <td th:text="${mascota.nombre}"></td>
            <td th:text="${mascota.edad}"></td>
            <td th:text="${mascota.raza}"></td>
            <td th:text="${mascota.especie}"></td>
        </tr>
        </tbody>
    </table>

    <form id="editarForm" action="/editarMascota" method="POST">
        <input id="idMascota" type="hidden" name="id" />
    </form>
</div>

<script>
    function editarMascota(row) {
        var id = row.getAttribute("data-id");
        document.getElementById("idMascota").value = id;
        document.getElementById("editarForm").submit();
    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>